{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block nav_home_active %}active{% endblock %}
{#页面内容#}
{% block content %}
    <div class="container" style="padding-top: 5%">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 2em;text-align: center;background-color: #00CED1">
                    《{{ latest_news.title }}》
                </div>
                <div class="panel-body" style="font-size: 1.5em;background-color: #AFEEEE">
                </div>
            </div>
        </div>
    </div>

{% endblock %}